@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

*{
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.row{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.content-title-underline {
    width: 30px;
    height: 3px;
    background-color: #34c6d3;
    margin: 0 auto 30px auto;
}

.content-title-left{
     width: 30px;
    height: 3px;
    background-color: #34c6d3;
    margin: 0 auto 30px 60px;
}

/*Navbar*/
.navbar {
    padding: 20px 0;
    transition: all .5s ease-in-out;
}

.navbar-collapse {
    max-height: none !important;
}


.navbar{
    background-color: rgba(0, 0, 0, 0.4);
}


.navbar-nav li a {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

.navbar-brand{
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

.dropdown-item, .dropdown-menu{
    background-color: rgba(0, 0, 0, 0.4) !important;
    color: white !important;
}

.dropdown-menu{
    padding-bottom: 0px !important; 
}

/*Home section*/

#home {
    height: 100%;
}

#home-cover {
    height: 100%;
    background-image: url("../IMAGES/image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#home-content-box {
    width: 100%;
    height: 100%;
    display: table;
}

#home-content-box-inner {
    display: table-cell;
    vertical-align: middle;
}

#home-heading h3 {
    color: #fff;
    font-size: 45px;
    font-weight: 500;
    margin: 20px 2px 20px 2px;
    font-family: 'Titillium Web', sans-serif;
}

.btn-general {
    background-color: rgba(0, 0, 0, 0.4);
    border-width: 2px;
    border-radius: 0;
    padding: 12px 26px 12px 26px;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}

.btn-white {
    border : 1px solid white;
    color: white;
}

/*Analysis section*/
#analysis-content-box {
    width: 100%;
}

#analysis-content-box-inner {
    padding: 50px;
}

#analysis-heading h3 {
    color: #fff;
    font-size: 55px;
    font-weight: 700;
    margin: 20px 5px 20px 5px;
    font-family: 'Titillium Web', sans-serif;
}

/*Indicators section*/
#indicators-content-box {
    width: 100%;
}

.imgIndicators{
    height: 200px;
    width: 200px;
}

#indicators{
    padding: 20px;
    margin: 20px;
    border: 4px solid #34c6d3;
    border-radius: 20px;
}

.holdSignal{
    color: blue;
}

.sellSignal{
    color: red;
}

.buySignal{
    color: green;
}

.indImage{
    height: 200px;
    width: 100%;
    margin-bottom: 20px;
}

/*info section*/
#info-content-box {
    width: 100%;   
}

#newsContainer{
    overflow-y: scroll;
    height: 430px; 
}

#tweetsContainer{
    overflow-y: scroll;
    height: 430px;
}

.tweetImage{
    height: 50px;
    width: 50px !important;
}

.componentTitle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tweetsTitle{
   height: 50px !important;
   width: 50px !important;
   margin: auto !important;
}

.tweetComponent{
    padding: 5px !important;
}

.newsComponent{
    padding: 5px !important;
}

.columnContainer{
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    padding: 15px !important;
    border-radius: 20px;
}

.tweetHeaderName{
    margin: auto 0;
}

#cryptoInfoContainer{
    height: 430px;
    background: aqua;
    padding-top: 20px;
}

.newsImage {
    width: 50px !important;
    height: 50px !important;
}

/*About section*/
#about {
    margin-top: 30px;
    margin-bottom: 30px;
}
.imgAbout {
 width: 100%;
}

.descriptionContainer {
    padding: 0px 20px !important;
}
.description {
    background-color:whitesmoke;
    color:black;
    height:300px;
    display: table-cell;
    vertical-align: middle;
    padding: 0px 30px;
}

.imgDescription {
    margin: auto 0 !important;
}