@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

*{
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.row{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

/*Navbar*/
.navbar {
    padding: 20px 0;
    transition: all .5s ease-in-out;
}

.navbar-collapse {
    max-height: none !important;
}


.navbar{
    background-color: rgba(0, 0, 0, 0.4);
}


.navbar-nav li a {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

.navbar-brand{
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

.dropdown-item, .dropdown-menu{
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.dropdown-menu{
    padding-bottom: 0px !important; 
}

/*Home section*/

#home {
    height: 100%;
}

#home-cover {
    height: 100%;
    background-image: url("../IMAGES/image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#home-content-box {
    width: 100%;
    height: 100%;
    display: table;
}

#home-content-box-inner {
    display: table-cell;
    vertical-align: middle;
}

#home-heading h3 {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    margin: 20px 2px 20px 2px;
    font-family: 'Titillium Web', sans-serif;
}

.btn-general {
    background-color: rgba(0, 0, 0, 0.4);
    border-width: 2px;
    border-radius: 0;
    padding: 12px 26px 12px 26px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.btn-white {
    border : 1px solid white;
    color: white;
}
/*Analysis section*/

#analysis {
    height: 100%;
}

#analysis-content-box {
    width: 100%;
    height: 100%;
    display: table;
}

#analysis-content-box-inner {
    display: table-cell;
    vertical-align: middle;
}

#analysis-heading h3 {
    color: #fff;
    font-size: 55px;
    font-weight: 700;
    margin: 20px 5px 20px 5px;
    font-family: 'Titillium Web', sans-serif;
}

/*info section*/

#info {
    height: 100%;
}

#info-cover {
    height: 100%;
    background-image: url("../IMAGES/image3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#info-content-box {
    width: 100%;
    height: 100%;
    display: table;
}

#info-content-box-inner {
    display: table-cell;
    vertical-align: middle;
}

#news{
    height: 90%;
    background-color: rgba(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    margin: 80px 30px 0px 30px;
    color:white;
    font-weight: bolder;
}

#tweets{
    height: 43%;
    background-color: rgba(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    margin: 80px 40px 3% 0px;
    color:white;
    font-weight: bolder;
}

#cryptoinfo{
    height: 43%;
    background-color: rgba(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    margin: 10px 40px 0px 0px;
    color:white;
    font-weight: bolder;
}

#info-content-row{
    height: 100%;
}